<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 style="text-align: center; font: bold;">Factura</h1>
      </div>
      <div class="col">
        <h1 style="text-align: center; font: bold">Precio</h1>
      </div>
      <div class="col">
        <h1 style="text-align: center; font: bold" >Detalle</h1>
      </div>
    </div>
    
    <div class="col my-4">
        <button type="button" class="btn btn-outline-primary"> Salir </button>
      </div>

  </div>