<div class="row">
  <div class="col-1"> </div>
  <div class="col">
    <div class="row mt-3">
        <a class="btn btn-primary" style= "width: 100%; font-size:x-large;" href="/cliente" role="button">Añadir Nuevo Cliente</a>
    </div>
      <div *ngFor="let n of listaClientes; let i=index">
          <div *ngIf="crearFila(i)">
              <div class="row mt-4">
                  <ng-template ngFor let-c [ngForOf] = "subLista(i)">
                      <div class="col">
                          <div class="container gy-1" *ngIf="esValido(c)">
                              Cliente
                              <div class="row mt-1"><h2>{{c.fullName}}</h2></div>
                              <button type="submit" class="btn btn-outline-primary"> EDITAR </button>
                          </div>
                      </div>
                  </ng-template>
              </div>
          </div>
      </div>

  </div>
  <div class="col-1"> </div>
</div>