<div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="row my-5">
            <div class="col offset-md-1 text">
                <h2 class="text">Total de ventas encada sucursal de los últimos 6 meses de mayor a menor</h2>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-primary"> Descargar Informe </button>
            </div>
        </div>
        
        <div class="row my-5">
            <div class="col offset-md-1 text">
                <h2 class="text">Vehículos con mayor cantidad de visitas</h2>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-primary"> Descargar Informe </button>
            </div>
        </div>
        
        <div class="row my-5">
            <div class="col offset-md-1 text">
                <h2 class="text">Clientes con más visitas registradas</h2>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-primary"> Descargar Informe </button>
            </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>