<div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="./assets/img/Not Original.png" height = 100px alt="Responsive image">
      </div>
      <div class="col-6">
        <ul class="nav nav-fill">
            <li class="nav-item">
              <a class = "tab" routerLink="/login" routerLinkActive="tab-active">Login</a>
            </li>
            <li class="nav-item">
              <a class = "tab"  routerLink="/clientes" routerLinkActive="tab-active">Clientes</a>
            </li>
            <li class="nav-item">
              <a class = "tab" routerLink="/citas" routerLinkActive="tab-active">Citas</a>
            </li>
            <li class="nav-item">
              <a class = "tab" routerLink="/reportes" routerLinkActive="tab-active">Reportes</a>
            </li>
          </ul>
      </div>
      <div class="col my-4">
        <button type="button" class="btn btn-outline-primary"> Salir </button>
      </div>
    </div>
  </div>
    