<div class="row">
    <div class="col-1"> </div>
    <div class="col">
      <div class="row mt-3">
          <a class="btn btn-primary" style= "width: 100%; font-size:x-large;" href="/cita" role="button">Añadir Nueva Cita</a>
      </div>
        <div *ngFor="let n of listaCitas; let i=index">
            <div *ngIf="crearFila(i)">
                <div class="row mt-4">
                    <ng-template ngFor let-c [ngForOf] = "subLista(i)">
                        <div class="col">
                            <div class="container gy-1" *ngIf="esValido(c)">
                                Cita
                                <div class="row mt-2"><h2>{{c.nombre}} {{c.apellidos}}</h2></div>
                                <a class="btn btn-primary" href="/cita" role="button">EDITAR</a>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
  
    </div>
    <div class="col-1"> </div>
  </div>


<ng-template #sinRegistrar>
    <p>Nadie registrado</p>
</ng-template>