<div class="container-fluid my-2">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-8">
        <div class="container-fluid">
          <div class="row mt-5">
            <div class="col-4 text">Cliente</div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un cliente</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text">Surcursal</div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione una sucursal</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text">Servicio</div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un Servicio</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          </div>
          <div class="row my-4">
                <div class="col-4 text">Placa</div>
            <div class="col">
                <input type = "text" class="form-control" name = "email">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4 text">Fecha</div>
        <div class="col">
            <input type = "date" class="form-control" name = "email">
        </div>
      </div>
        <div class="row my-5">
            <div class="col pos offset-md-2">
                <button type="button" class="btn btn-outline-primary"> Facturar </button>
            </div>
            <div class="col pos">
                <button type="button" class="btn btn-outline-primary"> Guardar </button>
            </div>
            <div class="col">
                <button type="button" class="btn can btn-outline-primary"> Cancelar </button>
            </div>
            <div class="col-1"></div>
        </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>