<div class="container-fluid">
    <div class="row my-3">
      
      <div class="col-1">
      </div>
      <div class="col"> 
        <div class="row my-3">  
          <h2 class = "fw-bold offset-md-1">Editar perfil</h2>
        </div>
        <form action="#">
            <div class="row">
  
              <div class="col text-center">
                <div class="row mt-4 right"><label for = "fullname" class="form-label">Nombre Completo</label></div>
                <div class="row mt-4 right"><label for = "contact" class="form-label">Info. de Contacto</label></div>
                <div class="row mt-4 right"><label for = "cedula" class="form-label">Cédula</label></div>
                <div class="row mt-4 right"><label for = "usuario" class="form-label">Usuario</label></div>
              </div>
              <div class="col">  
                <div class="row mt-4"><input type = "text" class="form-control" name = "fullname"></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "contact"></div>
                <div class="row mt-4"><input type = "number" class="form-control" name = "cedula"></div>
                <div class="row mt-4"><input type = "text" class="form-control" name = "usuario"></div>
              </div>
              <div class="col-1"></div>
              
              <div class="col text-center">
                <div class="row mt-4 right gy-4"><label for = "fullname" class="form-label">Correo Electrónico</label></div>
                <div class="row mt-4 right"><label for = "contact" class="form-label">Teléfonos</label></div>
                <div class="row mt-4 right"><label for = "cedula" class="form-label">Direcciones</label></div>
                <div class="row mt-4 right"><label for = "cedula" class="form-label">Contraseña</label></div>
              </div>
              <div class="col">
                <div class="row mt-4 gy-4"><input type = "email" placeholder="example@email.com" class="form-control" name = "password"></div>
                <div class="row mt-4"><a class="btn btn-primary" style= "width: 100%" href="#" role="button">Añadir Teléfono</a></div>
                <div class="row mt-4"><a class="btn btn-primary" style= "width: 100%" href="#" role="button">Añadir Dirección</a></div>
                <div class="row mt-4"><a class="btn btn-primary" style= "width: 100%" href="/vistaCliente/src/app/change-password/change-password.component.html" role="button">Cambiar contraseña</a></div>
              </div>
  
            </div>
            <div class="row my-5">
              <div class="col"></div>
              <div class="col text-center offset-md-1"> <button type="submit" class="btn btn-outline-primary"> Guardar </button> </div>
              <div class="col text-center"> <a role="button" type="button" href="/clientes" class="btn can btn-primary"> Cancelar </a></div>
              <div class="col"></div>
            </div>
          </form>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>