<app-header></app-header>
<div class="container-fluid my-2">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-8">
        <div class="row offset-md-2">
            <h2 class = "fw-bold">Información de Cita</h2>
        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-3 text-center">
                    <div class="row mt-4 right"><label for = "fullname" class="form-label">Cliente</label></div>
                    <div class="row mt-4 right"><label for = "sucursal" class="form-label">Sucursal</label></div>
                    <div class="row mt-4 right"><label for = "servicio" class="form-label">Servicio</label></div>
                    <div class="row mt-4 right"><label for = "placa" class="form-label">Placa</label></div>
                    <div class="row mt-4 right"><label for = "fecha" class="form-label">Fecha</label></div>
                    
                </div>
                <div class="col">
                    <div class="row mt-4">
                        <select class="form-select" name = "fullname" [(ngModel)] = "cita.idCliente" aria-label="Default select example">
                          <option selected>Seleccione un cliente</option>
                        <ng-template ngFor let-cliente [ngForOf] = "listaClientes"; let-i="index">
                          <option [value] ="cliente.idCliente">{{cliente.nombre}} ({{cliente.idCliente}})</option>
                        </ng-template>
                      </select></div>

                      <div class="row mt-4">
                        <select class="form-select" name = "sucursal" [(ngModel)] = "cita.sucursal" aria-label="Default select example">
                        <option selected>Seleccione una sucursal</option>
                        <ng-template ngFor let-sucursal [ngForOf] = "listaSucursales"; let-i="index">
                          <option [value] ="sucursal.nombreSuc">{{sucursal.nombreSuc}}</option>
                        </ng-template>
                      </select></div>

                      <div class="row mt-4">
                        <select class="form-select" name = "servicio" [(ngModel)] = "servicio" aria-label="Default select example">
                          <ng-template ngFor let-servicio [ngForOf] = "listaServicios"; let-i="index">
                            <option [value] ="servicio.nombreServ">{{servicio.nombreServ}}</option>
                          </ng-template>
                      </select></div>

                      <div class="row mt-4"><input type = "text" class="form-control" name = "placa" [(ngModel)] = "cita.placa"></div>
                      <div class="row mt-4"><input type = "date" class="form-control" name = "fecha" [(ngModel)] = "cita.fechaCita"></div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col text-center offset-md-1"> <button class="btn btn-outline-primary"> Facturar </button> </div>
                <div class="col text-center"> <button class="btn btn-primary"> Guardar </button> </div>
                <div class="col text-center"> <a role="button" type="button" href="/citas" class="btn can btn-primary"> Cancelar </a></div>
                <div class="col-1"></div>
              </div>
        </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
